<!DOCTYPE html>
<html>
<head>
  <title>Class Survey</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="index.css">
<style>
@import url('https://fonts.googleapis.com/css?family=BenchNine:700');

html,body {
    margin: 0;
    padding: 0%;
    height: 100%;
    font-family: 'BenchNine';
}

.home-page {
    background: url("http://i.imgur.com/dCu3C9Y.gif") no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    font-size:4vmax;
    color: white;
  
}
h1 {
  margin:0;
  padding-top:6%;
  font-size:8vmax;
}
  a {
    background-color: #ffffff; /* White */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

  a {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color:transparent;
    border: 2px solid #ffffff;
}

  a:hover {
    background-color:white;
    color: black;
}
 
</style>
</head>
<body> 

<div class="home-page">
  <h1>"I HOPE I DON'T GET GABE"</h1> 
    <p>Are you more like Gabe, Sam or Katie?</p>
  <a href ="/test.erb"> TAKE THE TEST! </a>
  

</div>
 
</body>
</html>

