<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
  
  <style>
   {
    background: url("http://i.imgur.com/dCu3C9Y.gif") no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    font-size:4vmax;
    color: white;
  
  </style>
  
  
  
  
</head>
<body> 

  <div class="results-page">
 <p> Hello there, <%= @name1.name %></p>
  Answer 1: <%= @name1.logic %><br>
  </div>

</body>
</html>

